:root{

}

body{
    font-size: 16px;
    text-align: center;
}

form{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    text-align: left;
}

input{
    margin-left: 25px;
}

.container{
    display: flex;
    width: 600px;
    height: 500px;
    justify-content: center;
    background-color: beige;
    margin: auto;
}

.display{
    display: flex;
    justify-content: space-evenly;
}

.card{
    background-color: burlywood;
    width: 150px;
    height: 200px;
}

.hidden{
    display: none;
}

